*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;

  /*ЗАПРЕТ ВЫДЕЛЕНИЯ ТЕКСТА*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
a {
  text-decoration: none;
  color: #e5e5e5;
  display: block;
  transition: color 1s ease;
}
a:hover {
  color: #4dc9c9;
  transition: color 0.5s ease;
}
a:active {
  color: #4dc9c9;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #33ccff;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #33ccff;

  min-width: 320px;
}
.wrapper {
  /*min-height: 100%;*/
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    radial-gradient(
      44.43% 74.43% at 38.82% 55.57%,
      rgba(19, 42, 103, 0.3) 0%,
      rgba(13, 0, 43, 0.3) 100%
    ),
    linear-gradient(180deg, #011a3f 0%, #000a1a 100%);
}
.container {
  width: 350px;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
}
.main {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  cursor: pointer;
}
.button svg path {
  fill: #33ccff;
  transition: 0.5s ease-in-out;
}
.button svg {
  box-shadow: none;
  transition: 0.5s ease-in-out;
}
.button:hover svg {
  filter: blur(1px);
}
.button:hover svg path {
  fill: #ffffff;
}
.button:focus svg path,
.button.active svg path {
  fill: #ffffff;
}

.screen {
  width: 350px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.player {
  /*width: 320px;
  height: 550px;*/
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    #132a67 14.62%,
    #006eb8 45.91%,
    #0d002b 89.42%
  );

  box-shadow: 0 0 100px rgba(0, 110, 185, 0.25);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  text-align: center;
  position: relative;
}
.player__image {
  width: 100%;
  height: 340px;
  position: relative;
}
.image__container {
  width: 100%;
  height: 100%;
}
.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  opacity: 0.75;
}
.player__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 210px;
  width: 100%;
}
.back {
  transform: rotate(180deg);
}
/* progressbar input*/ /* MY VARIANT =============== */
.progressbar {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  height: 7px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.progressbar::-webkit-slider-runnable-track {
  background: rgba(128, 128, 128, 0.2);
  height: 7px;
  /*border-radius: 4px;*/
  margin: 5px 0;
} /* margin helps to increase height of element. more convinient for mouse press*/
.progressbar::-moz-range-track {
  background: rgba(128, 128, 128, 0.2);
  height: 7px;
  border-radius: 4px;
  margin: 5px 0;
} /* margin helps to increase height of element. more convinient for mouse press*/
.progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 7px;
  border: none;
  border-radius: 50%;
  background: #2497e3;
  margin-top: calc(4px / 2 - 4px / 2);
  box-shadow: -400px 0 0 400px #2497e3;
  transition: 0.5s ease-in-out;
}
.progressbar::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 7px;
  border: none;
  border-radius: 50%;
  background: #2497e3;
  box-shadow: -400px 0 0 400px #2497e3;
  transition: 0.5s ease-in-out;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-thumb {
  border: 0;
  background: #ffffff;
}
input[type="range"]:focus::-moz-range-thumb {
  border: 0;
  background: #ffffff;
}
/*end of MY VARIANT ------------------*/

.time {
  /*padding: 0 10px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.currenttime {
  padding: 5px;
}
.duration {
  padding: 5px;
}
.title__container {
  width: 75%;
  overflow: hidden;
}
.songtitle {
  text-transform: uppercase;
  transition: 1s;
  white-space: nowrap;
}
.songtitle.animation {
  animation: moveText linear 20s 0s forwards infinite;
}
@keyframes moveText {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.maincontrols {
  width: 100%;
  padding: 15px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.play svg {
  display: none;
}
.play svg.active {
  display: block;
}
.features {
  width: 100%;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.volume__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.volume {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.volume svg {
  display: none;
  margin: 0 0 0 5px;
}
.volume svg.active {
  display: block;
}
.volumebar {
  transform: rotate(180deg);
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100px;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  display: none;
  transition: 1s;
}
.volumebar.active {
  opacity: 1;
  display: block;
  transition: 1s;
}
.volumebar::-webkit-slider-runnable-track {
  background: rgba(128, 128, 128, 0.2);
  height: 20px;
  border-radius: 10px;
} /* margin helps to increase height of element. more convinient for mouse press*/
.volumebar::-moz-range-track {
  background: rgba(128, 128, 128, 0.2);
  height: 20px;
  border-radius: 10px;
}
.volumebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #2497e3;
  margin-top: calc(4px / 2 - 4px / 2);
  box-shadow: -400px 0 0 400px #2497e3;
  transition: 0.5s ease-in-out;
}
.volumebar::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #2497e3;
  box-shadow: -400px 0 0 400px #2497e3;
  transition: 0.5s ease-in-out;
}

/* PLAYLIST =================================================*/
.playlist {
  width: 350px;
  height: 550px;
  background: linear-gradient(
    180deg,
    #132a67 14.62%,
    #006eb8 45.91%,
    #0d002b 89.42%
  );
  text-align: center;
  overflow: hidden;

  position: absolute;
  top: 0;
  z-index: 11;
  right: -150%;
  transition: 0.5s ease-in-out;
}
.playlist.active {
  right: 0;
}
.queue {
  height: 460px;
  width: 100%;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}
.queue::-webkit-scrollbar {
  width: 7px;
  background: rgba(128, 128, 128, 0.2);
}
.queue {
  scrollbar-width: thin;
  scrollbar-color: #2497e3 #132a67;
}
.queue::-webkit-scrollbar-thumb {
  /*background: #2497e3;*/
  background: #2497e3;
}
.queue__item {
  width: 100%;
  border-bottom: 1px solid #006eb8;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}
.queue__item:last-child {
  border: none;
}
.queue__item:hover .songtitle {
  color: #ffffff;
  transition: 1s;
}
.item__cover {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
}
.item__cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item__cover svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item__cover .play svg {
  display: block;
}
.playlistmenu {
  padding: 0 25px;
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #006eb8;
}
.playlist__title {
  text-transform: uppercase;
  margin: 0 100px;
}

/* FOOTER SECTION =============================================*/
.footer {
  height: 90px;
  width: 100%;
  border-top: 1px solid #005392;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.footer__link svg {
  height: 30px;
  margin: 10px;
}
.footer__link svg path {
  fill: #005392;
  transition: 1s ease-in-out;
}
.footer__link:hover svg path {
  fill: #33ccff;
}
.footer__link {
  color: #005392;
  transition: 1s ease-in-out;
}
.footer__link:hover {
  filter: blur(2px);
}
