*,
*:after,
*:before {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
html,
body {
   height: 100%;
   /*min-height: 800px;*/
   scroll-behavior: smooth;
}
aside,
nav,
footer,
header,
section {
   display: block;
}
a {
   text-decoration: none;
   color: #e5e5e5;
   display: block;
   transition: color 1s ease;
}
a:hover {
   color: #4dc9c9;
   transition: color 0.5s ease;
}
a:active {
   color: #4dc9c9;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   color: #33ccff;
}
body {
   font-family: "Montserrat", sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 18px;
   color: #33ccff;

   min-width: 320px;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;

   background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      radial-gradient(44.43% 74.43% at 38.82% 55.57%, rgba(19, 42, 103, 0.3) 0%, rgba(13, 0, 43, 0.3) 100%),
      linear-gradient(180deg, #011a3f 0%, #000a1a 100%);
}
.container {
   max-width: 800px;
   margin: 0 auto;
   padding: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}
.main {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.player {
   width: 300px;
   height: 533px;
   background: linear-gradient(180deg, #132a67 14.62%, #006eb8 45.91%, #0d002b 89.42%);
   margin: 100px 0;
   padding: 30px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.footer {
   height: 90px;
   width: 100%;
   border-top: 1px solid #005392;
   padding: 15px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background: transparent;
}
.footer__link svg {
   height: 30px;
   margin: 10px;
}
.footer__link svg path {
   fill: #005392;
   transition: 1s ease-in-out;
}
.footer__link:hover svg path {
   fill: #33ccff;
}
.footer__link {
   color: #005392;
   transition: 1s ease-in-out;
}
.footer__link:hover {
   filter: blur(2px);
}
